<title>System Information</title>
<hr>
<applet code="SystemInfo.class" width=500 height=180>
</applet>
Public domain source was modified by Radim Kolar (hsn@cybermail.net)/NetMag Consulting.
See http://ncic.netmag.cz/apps/nase/systeminfo.html for latest version of this applet.
<hr>
<a href="SystemInfo.java">The source.</a>


